@charset "utf-8";

.btn-good {
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.btn-good:hover {
    color: #f44336;
}

.active {
    color: #f44336;
}

.btn-good .active {
    color: #f44336;
}

