/* message.php */
.message_top_btn{

}
.message_top_btn a{
  font-weight: bold;
  text-decoration: none;
}
form{
  text-align: center;
}
.textarea{
  width: 60%;
  height: 100px;
}
.message_btn{
  padding: 0 10%;
  text-align: right;
}

/*以下、②左側のコメント*/
.says {
  display: inline-block;
  position: relative; 
  margin: 10px 0 10px 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: hsl(135, 10%, 80%);
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid hsl(135, 10%, 80%);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
/* message_top */
.col-8{
  width: 60%;
  margin: 5px auto;
  padding: 0 5%;
  background-color: #eee;
  border-radius: 20px;
}
.col-8:hover{
opacity: 0.7;
}

.destination_user_list{
  display: flex;
  justify-content: space-between;
}
.destination_user_info{
  width: 80%;
}

.col-8 a{
  text-decoration: none;
}
.col-8 a .destination_user_name{
  font-size: 120%;
font-weight: bold;

}
.col-8 a .bottom_message_time{
  width: 15%;
  font-size: 80%;
  width: 20%;
}

/* .destination_user_list{
  display: flex;
  justify-content: space-around;
} */