@charset "utf-8";

.btn-good {
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.btn-good:hover {
    color: #f44336;
}

.active {
    color: #f44336;
}

.btn-good .active {
    color: #f44336;
}

/* 動物の写真 */
.cover{
justify-content: center;
}
.main-frame{
    text-align: center;
}
.main-frame img{
    object-fit: cover;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
}
.flex{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.flex li{
    width: calc(100% / 3);
    list-style: none;
    text-align: center;
}
.flex li img{
    height: 170px;
    object-fit: cover;
}
.flex li img:hover{
    cursor: pointer;
    opacity: 0.8;
}