@charset "utf-8";

.btn-good {
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.btn-good:hover {
    color: #f44336;
}

.active {
    color: #f44336;
}

.btn-good .active {
    color: #f44336;
}

/* 動物の写真 */
.flex{
    display: flex;
    justify-content: space-between;
}
.flex li{
    width: 30%;
}